.full-height {
	min-height: 100%;
	height: 100%;
}

@commonSpinnerUrl : ~"url('../assets/images/loading.gif')";
@commonSpinnerWidth: 16px;
@commonSpinnerHeight: 16px;

.spinner {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
	background: @commonSpinnerUrl no-repeat;
	width: @commonSpinnerWidth;
	height: @commonSpinnerHeight;
}

.toggler {
	&:extend(.glyphicon, .glyphicon-off all);
	cursor:pointer;
	border-radius: 50%;
	color: #000;

	&.enabled {
		color: #1acd0d ;
	}
}
