@import "~@rosy/component-colorpicker/less/main.less";

.filtercolorpicker {

	&__container {
		position: absolute;
		top: 140px;
		left: 140px;
		height: 350px;
		width: 60%;
		z-index: 20100;

		> .panel-body {
			position: relative;
			width: 100%;
			height: 100%;
		}

	}

}
