@import "reset.less";
@import "~@progress/kendo-ui/css/web/kendo.common-bootstrap.less";
@import "~@progress/kendo-ui/css/web/kendo.bootstrap.less";
@import "~@rosy/component-style-bootstrap/src/main.less";
@import "~@rosy/component-accordion/less/main.less";


.full-height {
    min-height: 100%;
    height: 100%;
}

*, :before, :after {
    box-sizing: content-box;
}

body, html {
    &:extend(.full-height);
}

#container {
    &:extend(.full-height);
}

.dialog.buttonbar {
	text-align: right;

	.btn+.btn {
		margin-left: 5px;
	}

	.btn+div {
		margin-left: 5px;
	}
}

@import "extends.less";
@import "filter.less";
@import "filterworkset.less";
@import "filtercolorpicker.less";