@import (reference) '~@rosy/component-style-bootstrap/src/main.less';

.cd-accordion-menu {
    background: @body-bg;
    margin-top: 8px;
}

  .cd-accordion-menu .cd-accordion-groupcontainer {
    /* by default hide all sub menus */
    display: none;
  }

  .cd-accordion-group, .cd-accordion-item {
    user-select: none;
  }

  .cd-accordion-menu .cd-accordion-toggle {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }

  .cd-accordion-menu .cd-accordion-groupname, .cd-accordion-menu .cd-accordion-item {
    position: relative;
    display: block;
    background-color: @panel-footer-bg;
    /*border: 1px solid @body-bg;*/
    border: 1px solid #ddd;
    border-radius: 4px;
    /*margin-top: -5px;*/
    margin-top: -3px;
    margin-bottom: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

  .no-touch .cd-accordion-menu .cd-accordion-groupname:hover, .no-touch .cd-accordion-menu .cd-accordion-item:hover {
    background: #52565d;
  }
  .cd-accordion-menu label::before, .cd-accordion-menu .cd-accordion-groupname::after, .cd-accordion-menu .cd-accordion-item::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .cd-accordion-menu .cd-accordion-groupname {
    cursor: pointer;
  }
  .cd-accordion-menu .cd-accordion-groupname::before, .cd-accordion-menu .cd-accordion-groupname::after {
    background-image: url(../assets/cd-icons.svg);
    background-repeat: no-repeat;
  }
  .cd-accordion-menu .cd-accordion-groupname::before {
    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    transform: translateY(-50%) rotate(-90deg);
  }
  .cd-accordion-menu .cd-accordion-groupname::after {
    /* folder icons */
    left: 41px;
    background-position: -16px 0;
  }
  .cd-accordion-menu a::after {
    /* image icon */
    left: 36px;
    background: url(../assets/cd-icons.svg) no-repeat -48px 0;
  }
  .cd-accordion-menu .cd-accordion-toggle.checked + .cd-accordion-groupname::before {
    /* rotate arrow */
    transform: translateY(-50%);
  }
  .cd-accordion-menu .cd-accordion-toggle.checked + .cd-accordion-groupname::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
  }
  .cd-accordion-menu .cd-accordion-toggle.checked + .cd-accordion-groupname + ul,
  .cd-accordion-menu .cd-accordion-toggle.checked + .cd-accordion-groupname:nth-of-type(n) + ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
  }
  .cd-accordion-groupcontainer .cd-accordion-groupname,
  .cd-accordion-groupcontainer a {
    background-color: @panel-footer-bg;
    padding-left: 82px;
  }
  .no-touch .cd-accordion-groupcontainer .cd-accordion-groupname:hover, .no-touch
  .cd-accordion-groupcontainer a:hover {
    background: #3c3f45;
  }
  .cd-accordion-menu > .cd-accordion-group:last-of-type > .cd-accordion-groupname,
  .cd-accordion-menu > .cd-accordion-item:last-of-type > .cd-accordion-item,
  .cd-accordion-menu > .cd-accordion-group > .cd-accordion-groupcontainer > .cd-accordion-group:last-of-type .cd-accordion-groupname,
  .cd-accordion-menu > .cd-accordion-item > .cd-accordion-groupcontainer > .cd-accordion-item:last-of-type a {
    box-shadow: none;
  }
  .cd-accordion-groupcontainer .cd-accordion-groupname::before {
    left: 36px;
  }
  .cd-accordion-groupcontainer .cd-accordion-groupname::after,
  .cd-accordion-groupcontainer a::after {
    left: 59px;
  }

  .cd-accordion-menu .cd-accordion-item {
    padding-left: 30px;
    background-color: #fff;
  }

  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname,
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer  {
     /*padding-left: 30px;*/
  }
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::before {
    left: 54px;
  }
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::after,
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-item::after {
    left: 77px;
  }
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname,
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-item {
    padding-left: 118px;
  }
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::before {
    left: 72px;
  }
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::after,
  .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-item::after {
    left: 95px;
  }
  @media only screen and (min-width: 600px) {
    .cd-accordion-menu .cd-accordion-groupname {
      padding: 8px 8px 8px 82px;
    }
    .cd-accordion-menu .cd-accordion-groupname::before {
      left: 8px;
    }
    .cd-accordion-menu .cd-accordion-groupname::after {
      left: 53px;
    }
    .cd-accordion-groupcontainer .cd-accordion-groupname,
    .cd-accordion-groupcontainer a {
      padding-left: 106px;
    }
    .cd-accordion-groupcontainer .cd-accordion-groupname::before {
      left: 24px;
    }
    .cd-accordion-groupcontainer .cd-accordion-groupname::after,
    .cd-accordion-groupcontainer a::after {
      left: 77px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname,
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer a {
      padding-left: 130px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::before {
      left: 72px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::after,
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer a::after {
      left: 101px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname,
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer a {
      padding-left: 154px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::before {
      left: 96px;
    }
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupname::after,
    .cd-accordion-menu .cd-accordion-groupcontainer .cd-accordion-groupcontainer .cd-accordion-groupcontainer a::after {
      left: 125px;
    }
  }
  .cd-accordion-menu.animated .cd-accordion-groupname::before {
    /* this class is used if you're using jquery to animate the accordion */
    transition: transform 0.3s;
  }


