@duration: 350ms;
@gutter: 10px;

.listview-item {
	border-color: rgba(180, 180, 180, 0.5);
	border-image: linear-gradient(left,transparent 1em, rgba(180, 180, 180, 0.5) 1em, rgba(180, 180, 180, 0.5) 100%) 1 stretch;
	border-image: -webkit-linear-gradient(left,transparent 1em,rgba(180,180,180,0.5) 1em,rgba(180,180,180,0.5) 100%) 1 stretch;
	border-image: -moz-linear-gradient(left,transparent 1em,rgba(180,180,180,0.5) 1em,rgba(180,180,180,0.5) 100%) 1 stretch;
	border-image: -ms-linear-gradient(left,transparent 1em,rgba(180,180,180,0.5) 1em,rgba(180,180,180,0.5) 100%) 1 stretch;
	border-radius: 0;
    line-height: 1.6em;
	overflow: hidden;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 2px 0;
	background-color: #ffffff;
}

.filter {
	&:extend(.full-height);
	overflow-y: auto;

	&__viewport {
		width: 100%;
		overflow: hidden;
		overflow-y: auto;
		&:extend(.full-height);
	}

	&__panes {
		width: 200%;
		position: relative;
		overflow: hidden;

		&.left {
			.filterlistbox-enter {
				.transition(all @duration ease-out);
				.transform(translatex(100%));
			}

			.filterlistbox-enter.filterlistbox-enter-active {
				.transform(translatex(0%));
			}

			.filterlistbox-leave {
				.transform(translatex(-100%));
			}

			.filterlistbox-leave.filterlistbox-leave-active {
				.transform(translatex(-200%));
				.transition(all @duration ease-out);
			}
		}

		&.right {

			.filterlistbox-enter {
				.transition(all @duration ease-out);
				.transform(translatex(-100%));
			}

			.filterlistbox-enter.filterlistbox-enter-active {
				.transform(translatex(0%));
			}

			.filterlistbox-leave {
				.transform(translatex(-100%));
			}

			.filterlistbox-leave.filterlistbox-leave-active {
				.transform(translatex(0%));
				.transition(all @duration ease-out);
			}
		}

	}

	&__new-filter-divider {
		&:extend(.listview-item);
		.clearfix();
	}

	&__new-filter-button {
		float: right;
		margin-right: @gutter;
	}

	&__pane {
		width: 100%;
		position: relative;
		float: left;
		will-change: transform;

		&-header {
			display: block;
			background-color: rgba(244, 244, 244, 0.95);
			font-weight: bold;
			line-height: 2.5em;
			margin-top: 1px;
			margin-bottom: -1px;
			font-size: 1.2em;
			text-align: center;
			margin-left:  auto;
			margin-right: auto;
			border-radius: 0;
			border-style: solid;
			border-width: 0 0 1px;
			border-color: rgba(180, 180, 180, 0.5);

			&-back {
				&:extend(.glyphicon, .glyphicon-chevron-left all);
				position: absolute;
				left: @gutter;
				display: block;
				top: 0.7em;
				height: 100%;
				cursor: pointer;
			}
		}
	}

	&__category {

		&-label {
			display: block;
			background-color: rgba(244, 244, 244, 0.95);
			font-weight: bold;
			line-height: 2.5em;
			margin-top: 1px;
			margin-bottom: -1px;
			font-size: 1.2em;
			text-align: center;
			margin-left:  auto;
			margin-right: auto;
			border-radius: 0;
			border-style: solid;
			border-width: 0 0 1px;
			border-color: rgba(180, 180, 180, 0.5);
		}
	}

	&__group {

				&-label {
					display: block;
					background-color: rgba(244, 244, 244, 0.95);
					font-weight: bold;
					line-height: 2.5em;
					margin-top: 1px;
					margin-bottom: -1px;
					font-size: 1.2em;
					text-align: center;
					margin-left:  auto;
					margin-right: auto;
					border-radius: 0;
					border-style: solid;
					border-width: 0 0 1px;
					border-color: rgba(180, 180, 180, 0.5);
				}
			}

	&__filter-item {
		&:extend(.listview-item);
        border-width: 1px 0 0;
        border-style: solid;
        padding: 0.3em;

		&--complex {
			.arrow {
				&:extend(.glyphicon, .glyphicon-chevron-right all);
				float: right;
				width: 16px;
				height: 16px;
			}
		}
	}

	&__singlefilter {
		.clearfix();
		&:extend(.listview-item);

		&_label {
			float: left;
			margin: 5px 10px 5px 5px;
		}
		&_button {
			float: right;
			&:extend(.k-button);
			margin-right: @gutter;
		}

		&_divider {
			float: right;
			.clearfix();
		}

		&_toggle {
			&:extend(.btn btn-link);
			float: left;
			font-size: 14px;
			position: relative;

			&--spinner {
				&:extend(.spinner);
				float: left;
				position:relative;
				top: 2px;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-right: 12px;
				margin-left: 12px;
			}
		}

		&_toggler {
			&:extend(.toggler all);
		}

		&_swatch {
			float: left;
			border: 1px solid #cccccc;
			box-shadow: none;
			border-radius: 4px;
			height: 30px;
			width: 30px;
			margin-right: 4px;
		}


	}
}

