.filter-workingset-dialog {
	position: absolute;
	top: 80px;
	left: 100px;
	z-index: 20000;

	&__swatch {
		width: 32px;
		height: 32px;
		border: 1px solid #cccccc;
		box-shadow: none;
		border-radius: 4px;
		float: right;
	}
}


